
  <!-- Javascript: Placed at the end of the document so the pages load faster -->
  <script src="{{cdn}}/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{cdn}}/twitter-bootstrap/{{bootstrapVersion}}/js/bootstrap.min.js"></script>
  <script src="/kotlin.js" type="text/javascript"></script>
  <script src="/kotlinx-html-js.js" type="text/javascript"></script>
  <script src="/frontend.js" type="text/javascript"></script>

  <!-- For share links -->
  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
  <script async defer src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
